            <br><br>

            <div style="text-align:center";>
            <h2>{{header}}</h2>
            </div>
            <br>
            <div class="container" style="border:1px solid black";> 
                <p>
                   {{message}}<strong>{{username}}</strong>
                   <br>
                   {{message2}}<strong>{{email}}<strong>
                </p>
            </div>
	